version: '3.8'

services:
  web:
    build: .
    container_name: calculadora-simples
    restart: always
    ports:
      - "80:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge